@font-face
{
    font: {
        family: 'Caviar Dreams';
        size: normal;
        weight: normal;
    }
    src:url('../assets/fonts/caviarDreams/CaviarDreams.ttf') format('truetype'),
        url('../assets/fonts/caviarDreams/CaviarDreams_Bold.ttf') format('truetype'),
        url('../assets/fonts/caviarDreams/CaviarDreams_BoldItalic.ttf') format('truetype'),
        url('../assets/fonts/caviarDreams/CaviarDreams_Italic.ttf') format('truetype');
}

body{
    background: {
        repeat: no-repeat;
        size: cover;
        attachment: fixed;
        position: center;
    }
    background-image: url(https://images5.alphacoders.com/379/thumb-1920-379572.png);
    margin: 0px;
    padding: 0px;
    font-family: 'Caviar Dreams';
}

.logo
{
    width: 50px;
}

ul
{
    margin: auto;
}

a
{
    font-size: 1em;
    margin-right: 1em;
}





$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px
);

/* @media only screen and (max-width: 768px) {

/* For mobile phones: */

// header 

#goTitle{
    padding-top: 3em;
}

a{
    color: black;
    text-decoration:none;
    &:hover{
        color: #c2003c;
    }
}
p{
    font-size: 2.5vh;
    color: white;
    padding-top: 3em;
    min-width: 1em;
}
h1{
    padding-top: 1em;
    text-align: center;
    font-family: 'Caviar Dreams';
    font-weight: bold;
    color: black;
}
#goLogo{
    padding-top: 3em;
}
#pics{
    margin-top: 1em;
    margin-bottom: 3em;
    padding: 0.5em;
    width: 25em;
    opacity: 0.5;
    transition : width 2s;
    transition : opacity 2s;
    &:hover{
        width: 30em;
        opacity: 1;
    }
}


// }

/* @media only screen and (max-width: 992px) {

    /* For mobile phones: */
    
    // header 
    
    /*#goTitle{
        padding-top: 3em;
    }
    
    a{
        color: black;
        font-family: $font-title;
        text-decoration:none;
        &:hover{
            color: #c2003c;
        }
    }
    p{
        font-size: 2.5vh;
        color: white;
    }
    h1{
        padding-top: 1em;
        text-align: center;
    }
    img{
        padding: 0.5em;
    }
}

// @media only screen and (max-width: 1200px) {

    /* For mobile phones: */
    
    // header 
    
    /* #goTitle{
        padding-top: 3em;
    }
    
    a{
        color: black;
        font-family: $font-title;
        text-decoration:none;
        &:hover{
            color: #c2003c;
        }
    }
    p{
        font-size: 2.5vh;
        color: white;
    }
    h1{
        padding-top: 1em;
        text-align: center;
    }
    img{
        padding: 0.5em;
    }
    }) */