@font-face
{
    font: {
        family: 'Caviar Dreams';
        size: normal;
        weight: normal;
    }
    src:url('assets/fonts/caviarDreams/CaviarDreams.ttf') format('truetype'),
        url('assets/fonts/caviarDreams/CaviarDreams_Bold.ttf') format('truetype'),
        url('assets/fonts/caviarDreams/CaviarDreams_BoldItalic.ttf') format('truetype'),
        url('assets/fonts/caviarDreams/CaviarDreams_Italic.ttf') format('truetype');
}

$red: #c2003c;
$white: #fff;
$black: #000;

body{
    background: {
        image: url('https://images5.alphacoders.com/379/thumb-1920-379572.png');
        repeat: no-repeat;
        size: cover;
        attachment: fixed;
        position: center;
    }
    margin: 0px;
    padding: 0px;
    font-family: 'Caviar Dreams';
    color: $white;
}

//NAV
.logo
{
    width: 50px;
}

ul
{
    margin: auto;
}

a
{
    font-size: 1em;
    margin-right: 1em;
}

/*.jumbotron
{
    background: {
        image: url('assets/sushi.jpg');
        size: cover;
        position: center;
    }
    height: 100vh;
    color: $black;
    border-radius: 0px!important;
    margin-top: 70px;

    .intro {
        padding-top: 100px;
        padding-bottom: 50px;
        background-color: rgba(255, 255, 255, 0.6);
        line-height: 1.5em;
    }
}*/

