@font-face 
{
    font-family: 'Work Sans Regular';
    src:url('assets/fonts/workSans/WorkSans-Black.woff') format('woff'),
        url('assets/fonts/workSans/WorkSans-Bold.woff') format('woff'),
        url('assets/fonts/workSans/WorkSans-ExtraBold.woff') format('woff'),
        url('assets/fonts/workSans/WorkSa/asapns-ExtraLight.woff') format('woff'),
        url('assets/fonts/workSans/WorkSans-Light.woff') format('woff'),
        url('assets/fonts/workSans/WorkSans-Medium.woff') format('woff'),
        url('assets/fonts/workSans/WorkSans-Regular.woff') format('woff'),
        url('assets/fonts/workSans/WorkSans-SemiBold.woff') format('woff'),
        url('assets/fonts/workSans/WorkSans-Thin.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: 'Asap';
    src:url('assets/fonts/asap/Asap-Bold.woff') format('woff'),
        url('assets/fonts/asap/Asap-BoldItalic.woff') format('woff'),
        url('assets/fonts/asap/Asap-Italic.woff') format('woff'),
        url('assets/fonts/asap/Asap-Medium.woff') format('woff'),
        url('assets/fonts/asap/Asap-MediumItalic.woff') format('woff'),
        url('assets/fonts/asap/Asap-Regular.woff') format('woff'),
        url('assets/fonts/asap/Asap-SemiBold.woff') format('woff'),
        url('assets/fonts/asap/Asap-SemiBoldItalic.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

body
{
    font-family: 'Work Sans Regular';
}