body
{
    background-image: url("https://cdn.discordapp.com/attachments/802185139543212086/803197734479200256/depositphotos_116433302-stock-photo-blank-chalk-board.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.row
{
    background-color: #000000 ;
    opacity: 0.5;
    font-size: 25px;
    color: #fff;
}

.logo
{
    width: 200px ;
    height: 200px;
}

.text-center
{
    text-align: center;
}