@font-face
{
    font: {
        family: 'Caviar Dreams';
        size: normal;
        weight: normal;
    }
    src:url('../fonts/CaviarDreams.ttf') format('truetype'),
        url('../fonts/CaviarDreams_Bold.ttf') format('truetype'),
        url('../fonts/CaviarDreams_BoldItalic.ttf') format('truetype'),
        url('../fonts/CaviarDreams_Italic.ttf') format('truetype');
}


$red: #c2003c;
$white: #fff;
$black: #000;

body
{
    background-image: url("https://images5.alphacoders.com/379/thumb-1920-379572.png");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: $white;
}

//NAV
.logo
{
    width: 50px;
}

ul
{
    margin: auto;
}

a
{
    font-size: 1em;
    margin-right: 1em;
}



//MENU
.container
{
    margin-top: 50px;
}

.card-columns 
{
    column-count: 2;
    color: $white;
}

.section
{
    margin-top: 90px;
}

.pancarte
{
    width: 50px;
}

.ramen
{
    width: 200px;
}


li
{
    list-style-type: none;
    line-height: 3.5em;
}

//FOOTER
footer
{
    color: black;
}

.linkFooter 
{
    text-decoration: none;
}

.socialNetworks
{
    width: 30px;
}

.beer
{
        float: right;
        width: 150px;
}

.maki
{
    width: 100px;
}

.menu-title
{
    font-weight: 10px;
}