@font-face
{
    font: {
        family: 'Caviar Dreams';
        size: normal;
        weight: normal;
    }
    src:url('assets/fonts/caviarDreams/CaviarDreams.ttf') format('truetype'),
        url('assets/fonts/caviarDreams/CaviarDreams_Bold.ttf') format('truetype'),
        url('assets/fonts/caviarDreams/CaviarDreams_BoldItalic.ttf') format('truetype'),
        url('assets/fonts/caviarDreams/CaviarDreams_Italic.ttf') format('truetype');
}


$red: #c2003c;
$white: #fff;
$black: #000;

body
{
    background-image: url("https://images5.alphacoders.com/379/thumb-1920-379572.png");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: $white;
}

//NAV
.logo
{
    width: 50px;
}

ul
{
    margin: auto;
}

a
{
    font-size: 1em;
    margin-right: 1em;
}


/*.menu
{
    background-color: #000000 ;
    opacity: 0.5;
    font-size: 25px;
    color: #fff;
    margin-top: 75px;
    width: 100%;
}

.food
{
    
    padding-top: 60px;
}
.sushi
{
    width: 100%;
    opacity: 0.5;
    position: sticky;
    //top: 700px;
}

li
{
    list-style: none ;
}


.tittle-menu
{
    font-weight: 100;
    font-size: 35px;
}*/

//MENU
.container
{
    margin-top: 50px;
}

.card-columns 
{
    column-count: 1;
}

.socialNetworks
{
    width: 50px;
}


//MENU
.section
{
    margin-top: 90px;
}

.pancarte
{
    width: 50px;
}

.ramen
{
    width: 200px;
}

.card-columns
{
    column-count: 2;
}

li
{
    list-style-type: none;
    line-height: 3em;
}

//FOOTER
footer
{
    color: black;
}

.linkFooter 
{
    text-decoration: none;
}

.socialNetworks
{
    width: 30px;
}