@font-face
{
    font: {
        family: 'Caviar Dreams';
        size: normal;
        weight: normal;
    }
    src:url('../fonts/CaviarDreams.ttf') format('truetype'),
        url('../fonts/CaviarDreams_Bold.ttf') format('truetype'),
        url('../fonts/CaviarDreams_BoldItalic.ttf') format('truetype'),
        url('../fonts/CaviarDreams_Italic.ttf') format('truetype');
}

body{
    background: {
        repeat: no-repeat;
        size: cover;
        attachment: fixed;
        position: center;
    }
    background-image: url(https://images5.alphacoders.com/379/thumb-1920-379572.png);
    margin: 0px;
    padding: 0px;
    font-family: 'Caviar Dreams';
}

.logo{
    width: 50px;
}

ul{
    margin: auto;
}

a{
    font-size: 1em;
    margin-right: 1em;
}

$grid-breakpoints: (
xs: 0,
sm: 576px,
md: 768px,
lg: 992px,
xl: 1200px,
xxl: 1400px
);

#goTitle{
    padding-top: 3em;
}
a{
    color: black;
    text-decoration:none;
    &:hover{
        color: #c2003c;
    }
}
p{
    
    font-size: 1.3em;
    color: white;
    padding-top: 3em;
}
h1{
    padding-top: 1em;
    text-align: center;
    font-family: 'Caviar Dreams';
    color: white
}
#goLogo{
    padding-top: 3em;
}
#pics{
    margin-top: 1em;
    margin-bottom: 3em;
    padding: 0.5em;
    width: 25em;
    opacity: 0.5;
    transition : width;
    transition : opacity 900ms;
    &:hover{
        width: 30em;
        opacity: 1;
    }
}
.socialNetworks{
    width: 30px;
}

#shedules{
    font-size: 1em;
}
#pad-top{
    padding-top: 3em;
}

#pad-bot{
    padding-top: 3em;
}

h3{
    color: white;
}

@media only screen and (max-width: 768px) {
    p{
        font-size: 1em;
    }
    #pics{
        margin-top: 1em;
        margin-bottom: 3em;
        padding: 0.5em;
        width: 25em;
        opacity: 1;
        transition : width;
        transition : opacity 900ms;
        &:hover{
            width: 25em;
            opacity: 1;
        }
    }
    #shedules{
        font-size: 0.75em;
    }
}
