@font-face {
    font-family: 'Work Sans Regular';
    src: url('/assets/fonts/WorkSans-Black.woff') format('woff'), url('/assets/fonts/WorkSans-Regular.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans Regular', sans-serif;
    background-image: url('../img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    color: white;
}